{# templates/partials/critical.css.html #}
<style>@charset "UTF-8";
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

html {
    font-family: sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

header,
main,
footer {
    display: flex;
    padding: 1rem 2rem;
}

header {
    flex-direction: column;
    row-gap: 1rem;
}

main {
    flex-direction: column;
    flex: auto;
}

footer {
}

/* Navigation */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu,
.languages {
    display: flex;
    flex-direction: row;
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    column-gap: .5rem;
}

.menu > li > ul {
    display: none;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    padding: 1rem;
    border: 1px solid #eee;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(1rem * 1.5 + 1rem);
}

.menu > li > ul > li {
    flex: 1 0 auto;
}

.menu > li > a,
.languages > li > a {
    transition: .3s color;
    cursor: pointer;
    color: #0000ee;
    user-select: none;
}

.menu > li > ul ul {
    list-style: none;
    padding-left: 1rem;
}

.menu > li > ul {
    display: none;
}

.menu > li.open > ul {
    display: flex;
    width: max-content;
}

/* Breadcrumb */
.breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    column-gap: .5rem;
    font-size: 14px;
}
</style>