{# basket/templates/basket/basket.html #}
{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Basket" %}{% endblock %}

{% block content %}
  <h1>{% trans "Basket" %}</h1>

  <div id="basket-wrapper" class="basket-wrapper">
    {# Скелетон #}
    <div class="products-grid">
      {% for i in "123"|make_list %}
        <div class="skeleton product-card">
          <div class="skeleton img"></div>
          <div class="skeleton title"></div>
          <div class="skeleton price"></div>
        </div>
      {% endfor %}
    </div>
  </div>

  <a href="{% url 'router:dynamic_router' slug='catalog' %}">← {% trans "Go to catalog" %}</a>
{% endblock %}